.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-content {
  display:flex;
}

.u-content img{
  height: 500px;
  width: 475px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 25px;
}

.u-content p {
  font-size: 30px ;
  padding: 15px;
  flex-direction: column;
}